[submodule "VslamOne/VslamOne/Pangolin"]
	path = VslamOne/VslamOne/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "VslamOne/Pangolin"]
	path = VslamOne/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
